@{
    Layout = null;
}


<div id="main" class="wrapper">
    <div id="primary" class="site-content">
        <div class="slideshowplaceholder">&nbsp;</div>

        <div id="container" class="isotope" style="position: relative; overflow: hidden; height: 900px;">
            <div id="leftbar">
                <h4 class="downright">Who Am I?</h4>
                <img src=" ~/Images/Gallery/self.jpg" alt="Lei Chen" style="width:90%;height:90%">
                <p>
                    My name is Lei Chen, I am a Computer Science M.S. candidate in Syracuse University. I’m interested in the research field of database application technology, software engineering and statistics in which I have the strong foundation knowledge, related project practice and work experience.
                </p>
                <hr>
                <h4 class="downright">Contact Me</h4>
                <p>Email:chenlei0825@gmail.com</p>
            </div>
            <div id="maincenter">

                <h2 class="downright">PHOTO GALLERY</h2>
                <div class="flowGallery">
                    <input type="radio" name="flow" id="p1" checked="checked" />
                    <input type="radio" name="flow" id="p2" />
                    <input type="radio" name="flow" id="p3" />
                    <input type="radio" name="flow" id="p4" />
                    <input type="radio" name="flow" id="p5" />
                    <input type="radio" name="flow" id="p6" />
                    <input type="radio" name="flow" id="p7" />
                    <input type="radio" name="flow" id="p8" />
                    <input type="radio" name="flow" id="p9" />
                    <input type="radio" name="flow" id="p10" />
                    <input type="radio" name="flow" id="p11" />
                    <input type="radio" name="flow" id="p12" />
                    <input type="radio" name="flow" id="p13" />
                    <input type="radio" name="flow" id="p14" />
                    <input type="radio" name="flow" id="p15" />
                    <input type="radio" name="flow" id="p16" />
                    <input type="radio" name="flow" id="p17" />
       
                    
                    <ul class="flow">
                        <li class="cg1"><label style="display:inline" for="p1" ><img src="~/Images/Gallery/1.jpg" alt="" /></label></li>
                        <li class="cg2"><label style="display:inline" for="p2"><img src="~/Images/Gallery/2.jpg" alt="" /></label></li>
                        <li class="cg3"><label style="display:inline" for="p3"><img src="~/Images/Gallery/3.jpg" alt="" /></label></li>
                        <li class="cg4"><label style="display:inline" for="p4"><img src="~/Images/Gallery//4.jpg" alt="" /></label></li>
                        <li class="cg5"><label style="display:inline" for="p5"><img src="~/Images/Gallery//5.jpg" alt="" /></label></li>
                        <li class="cg6"><label style="display:inline" for="p6"><img src="~/Images/Gallery/6.jpg" alt="" /></label></li>
                        <li class="cg7"><label style="display:inline" for="p7"><img src="~/Images/Gallery//7.jpg" alt="" /></label></li>
                        <li class="cg8"><label style="display:inline" for="p8"><img src="~/Images/Gallery/8.jpg" alt="" /></label></li>
                        <li class="cg9"><label style="display:inline" for="p9"><img src="~/Images/Gallery/9.jpg" alt="" /></label></li>
                        <li class="cg10"><label style="display:inline" for="p10"><img src="~/Images/Gallery/10.jpg" alt="" /></label></li>
                        <li class="cg11"><label style="display:inline" for="p11"><img src="~/Images/Gallery/11.jpg" alt="" /></label></li>
                        <li class="cg12"><label style="display:inline" for="p12"><img src="~/Images/Gallery/12.jpg" alt="" /></label></li>
                        <li class="cg13"><label style="display:inline" for="p13"><img src="~/Images/Gallery/1.jpg" alt="" /></label></li>
                        <li class="cg14"><label style="display:inline" for="p14"><img src="~/Images/Gallery/14.jpg" alt="" /></label></li>
                        <li class="cg15"><label style="display:inline" for="p15"><img src="~/Images/Gallery/15.jpg" alt="" /></label></li>
                        <li class="cg16"><label style="display:inline" for="p16"><img src="~/Images/Gallery/16.jpg" alt="" /></label></li>
                        <li class="cg17"><label style="display:inline" for="p17"><img src="~/Images/Gallery/17.jpg" alt="" /></label></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
