@{
    ViewBag.Title = "About";
}


<div class="container" style="margin:100px">
    <h2>@ViewBag.Title.</h2>
    <iframe align="middle" width="800" height="700" src="../Images/FinalProj2S15.pdf"></iframe>
</div>       
