
@{
    ViewBag.Title = "Help";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<div class="container">
    <h2>Help</h2>
    <div class="container" style="background-color:lightblue">
        <h5 class="glyphicon glyphicon-paperclip"> Public Users</h5>
        <ul>
            <li> Logging in to own account</li>
            
            <li> Readint all the stories</li>
            <li> Logging out</li>
        </>
    </div>

    <div class="container" style="background-color:lightcoral">
        <h5 class="glyphicon glyphicon-tree-conifer"> Administrator</h5>
        <ul>
            <li> Log in to Admin account</li>
            <li> Achiving stories</li>
            <li> Deleting stories</li>
            <li> Logging out</li>
        </ul>
    </div>

    <div class="container" style="background-color:lightgoldenrodyellow">
        <h5 class="glyphicon glyphicon-star-empty"> Developer</h5>
            <ul>
                <li>Log in to Developer account</li>
                <li>Creating stories</li>
                <li>Editing stories</li>
                <li>Logging out</li>
            </ul>
</div>
</div>