/*The overall frame*/
#minMax {min-width:700px; max-width:1100px; margin:0 auto;}

/*Lei Chen's Home frame*/
#topCenter {
    font-family: 'Tangerine', fantasy;
    font-weight: 400;
    font-size: 90px;
    text-shadow: 5px 5px 5px #aaa;
    text-align: center;
    padding-bottom: 0px;
    margin-top: 50px;
}

/*developer introduction frame*/
.downright{
    font-family: 'Open Sans';
    font-weight: 200;
    margin-bottom:30px;
    text-align: center
}

/*List style type*/
.listcircle{
     list-style-type: circle;
     margin-left: 20px;
     margin-top: 5px;
}

/*List style type*/
.listdisk{
     list-style-type: disc;
     list-style-position: inside;
}

/*Display style type*/
.horizontalDisplay{
    display: inline;
    margin-left: 25px;
    margin-right: 25px;
    font-size:20px;
}

/*menu container style type*/
#menubar{
    font-family: 'Open Sans'; 
    text-align: left;
    width: 100%;
    position:relative;
    overflow: visible;
}

/*menu item style type*/
.menulist{
    padding:0;
    margin:0 40px 0 100px;
    list-style:none;
    background:#fff;
}

/*Drop down menu item style type*/
.menulist ul{
    padding:0;
    margin:0 40px 0 20px;
    list-style:none;
    background:#fff;
}


.menulist li a:hover {
 background: #ddd
}

.menulist li{
  float:left;
}

.menulist a {
    display:block;
    padding:4px;
    width:5em;
    text-decoration:none;
    margin-bottom:2px;
    margin-top:2px;
    text-align: left;
}

.menulist li ul 
{
    position:absolute;
    width:5em;
    left:-999em;
    text-align:left;
}

.menulist li:hover ul, .menulist li ul:hover 
{
    left:auto; border:1px solid Black;
    border-bottom-width: 3px;
    border-left-width:3px;
}

.menulist li ul a:hover
{
  background:#ddd;
}

/* unvisited link */
a:link{
    color: black;
    text-decoration: none; 
}

/* visited link */
a:visited{
    color: cornflowerblue;
}


/* mouse over link */
a:hover{
    color: grey;
    text-decoration: none; 
}

/* selected link */
a:active{
  color: grey;
  text-decoration: none;
}

/* left part of Home */
#leftbar{
    float: left;
    width: 20%;
}

/* rigth part of Home */
#rightbar{
    float: right;
    width: 20%;
}

/* Center of Home */
#maincenter{
    float: left;
    width: 75%;
}

#wrapper {
    overflow: hidden;
}

#leftbar,#rightbar,#bottombar{padding-bottom:32767px; margin-bottom:-32767px;}


/*Snazzy border In Resource Page*/
.zsnazzy {width:940px; margin:30px 0 30px 150px;float: left;}
.xsnazzy h1, .zsnazzy h1 {margin:0; font-size:1.2em; padding:0 10px 5px 10px; border-bottom:1px solid #444;font-family: 'Abel', sans-serif;font-weight: 100;}
.xsnazzy p, .zsnazzy p { margin:0; padding:5px 5px 5px 10px; font-size:12px;}
.xsnazzy {background: transparent; width:32%; height: 180px; float:left; margin:0 3px; display:inline;}

.xtop, .xbottom {display:block; background:transparent; font-size:1px;}
.xb1, .xb2, .xb3, .xb4 {display:block; overflow:hidden;}
.xb1, .xb2, .xb3 {height:1px;}
.xb2, .xb3, .xb4 {background:#fff; border-left:1px solid #444; border-right:1px solid #444;}
.xb1 {margin:0 5px; background:#444;}
.xb2 {margin:0 3px; border-width:0 2px;}
.xb3 {margin:0 2px;}
.xb4 {height:2px; margin:0 1px;}

.xboxcontent {display:block; border:0 solid #444; border-width:0 1px; height:auto;}
* html .xboxcontent {height:1px;}

.color_a {background:#c9ba65; color:#fff;}
.color_b {background:#d4d8bd; color:#000;}
.color_c {background:#758279; color:#fff;}
.color_d {background:lavender; color:lightblue;}


/*Site Map*/
.sitemapcenter{
    float: left;
    width: 80%;
    margin-left: 60px;
}

.tabmenu ul{
  overflow: hidden;
  padding:0 0 0 7px;
  margin-left: 40px;
}

.tabmenu ul li{
    float: left;
    width:80px;
    text-align: center;
    font-size: 12px;
    padding:0 1px 0 1px;
	margin:1px 0 0 0;
    border-radius: 100px 350px 0px 0px;
    border: 10px solid lightblue;
}

.tabmenu ul li{
    float: left;
    display:block;
    width:80px;
    text-align: center;
    font-size:12px;
    padding:7px 0 5px 0;
	margin:1px 0 0 0;
    border-radius: 100px 350px 0px 0px;
    border: 10px solid lightblue;
    background:pink;
    position:relative;
    cursor:pointer;
    color:#0a7285;
}


.tabmenu ul li:hover{
	color: grey;
	font-size: 130%;
    border: 10px solid wheat;
}


.tabmenu ul li.active a{
	background:lightpink;
	width:80px;
	height:18px;
	color:#0a7285;
	padding-top:8px;
}
/* End of Tabbed Menu */

/*List Box Style*/
.listBox{
     border-color: lightblue;
     border-style:groove;
     border-radius:5px;
     border:10px solid wheat;
     font-family: 'Open Sans';
     font-size:medium;
     margin-top:20px;
}
/*End of List Box Style*/

/*Panel Style*/
.lbPanel{
    border:20px solid lightblue;
    background-color:lightpink;
    margin:15px;
    border-radius:20px;
}

.TVPanel{
    border:20px solid lightblue;
    background-color:wheat;
    border-radius:20px;
    margin:15px;
}

/* End of Panel Style*/


/*Story Maker*/
#homeHeader {
    font-family: 'Tangerine', fantasy;
    font-weight: 400;
    font-size: 90px;
    text-shadow: 5px 5px 5px #aaa;
    text-align: center;
    padding-bottom: -10px;
    margin: -15px;
}


#Intro .widget
{
    float:left;border:solid 4px #fff;background:#fff;
    border-radius:10px;margin-right:10px;box-shadow:0 0 5px rgba(0,0,0,0.5);
    height:300px;color:#006e92;font-style:normal;padding:25px 25px 0 25px;
    font-size:13px;font-family:'Muli';position:relative;
}

#Intro .widget h2.widgettitle{
    font-size:18px;font-weight:bold;text-transform:uppercase;
    letter-spacing:-0.05em;font-family:'Dancing Script', cursive;
    color:#01506a;font-style:normal}

#text-6.widget.widget_text h2{margin-left:20px}

#Intro .widget.intro
{
 width:800px;padding-right:20px;
 background:url(../Images/footer-boxes-background_03.jpg);
 padding-left:70px
}

#Intro .widget span.more
{display:block;position:absolute;left:-11px;top:-8px;
 text-indent:-9999px;width:103px;height:109px;background-position:-353px 0}


#Intro .widget.register #mc_embed_signup form {
    height: 90px;
}

#Intro .widget.register {
    width: 305px;
    background: url(../Images/footer-boxes-background_05.jpg);
}


#Intro .widget.signin {
    width: 305px;
    background: url(../Images/footer-boxes-background_07.jpg);
}

body.LayoutHead {
    background: url(../Images/07_01_storyline_v2b-interior-bg.jpg) no-repeat center 2px;
    margin: 0 auto 5px 0px;
    display: block;
}

body.home {
    background: url(../Images/castle.jpg) no-repeat center 2px;
    margin: -17px auto;
    display: block;
}



#myPage{padding-top:100px}

footer #colophon{font-style:normal}

footer {
    width: 100%;
    min-height: 450px;
    bottom: 0;
    left: 0;
    background: url(../Images/Footer_10-5-13.jpg) repeat-x center bottom;
}

footer.wrapper {
        width: 100%;
        max-width: 1015px;
        margin: 20px auto 0;
    }

.copy.widget {
    color: #fff;
    text-shadow: 1px 1px 3px #3b2f1b;
    text-align: center;
    margin: 20px 0 0 0;
    font-size:15px;
}

.site-content {
    margin: 24px 0 0;
    margin: 1.714285714rem 0 0;
}

.home #primary.site-content {
    width: 100% !important;
}
#primary.site-content {
    width: 65.1042%;
}
.full-width #primary.site-content {
    width: 100%;
}

#main.wrapper {
    margin-top: 0px;
}

#full-site-content{opacity:0}

#container.isotope {
    margin: 0 18%;
}

.ls-animating {
    display: block !important;
}


header #masthead{position:absolute;left:0;top:0px;width:100%;padding:0;z-index:9999}
header #masthead .wrapper{width:100%;max-width:1010px;margin:0 auto}
.site-header{margin-bottom:72px;margin-bottom:5.142857143rem;text-align:left}

.site-header a.sort-links{color:#fff;cursor:pointer;font-family:'cherry swash',cursive;font-style:italic}
.site-header h1.read a.sort-links{transform:rotate(-4deg);-webkit-transform:rotate(356deg);-moz-transform:rotate(356deg);-o-transform:rotate(356deg)}.layersliderhome{margin:26px
auto}

.ls-inner, .ls-slide {
    width: 100%;
    height: 100%;
}

.ls-inner {
    position: relative;
    background-position: center center;
    z-index: 2;
}

.ls-slide, .ls-layer {
    position: absolute;
    display: none;
    background-position: center center;
    overflow: hidden;
}
.ls-active,.ls-animating{display:block !important}
.ls-slide > * {
    position: absolute;
    line-height: normal;
    margin: 0;
    left: 0;
    top: 0;
}
.ls-slide .ls-bg {
    left: 0px;
    top: 0px;
    transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
}

#header-right{float:right;width:180px;margin-top:0px;margin-right:1%}


/*Story Maker*/